html {
      margin: 0px;
      height:100%;
      width:100%;
}
body {
	margin:0px;
	height:100%;
	width:100%;
}
label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 100px;
	font-size:12px;
	font-style:italic;
	font-weight:bold
}
#groupButtons{
	float:right;
}
#PPForm legend{
	padding:10px;
	font-size:25px;
	color:chocolate
}
input:not([submit]),input:not([button]) {
    padding:5px;
}
textarea:focus, input:not([button]):focus {
	border: 2px solid #900;
}
.jqx-input{
	width:350px;
	padding:5px;
	height:20px;
	margin-bottom:10px;
}

