html {
      margin: 0px;
      height:100%;
      width:100%;
}
body {
	margin:0px;
	height:100%;
	width:100%;
}
label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 100px;
	font-size:12px;
	font-style:italic;
	font-weight:bold
}
#groupButtons{
	float:right;
}
#PPForm legend{
	padding:10px;
	font-size:25px;
	color:chocolate
}
input:not([submit]),input:not([button]) {
    padding:5px;
}
textarea:focus, input:not([button]):focus {
	border: 2px solid #900;
}
.jqx-input{
	width:350px;
	padding:5px;
	height:20px;
	margin-bottom:10px;
}
.search-widget{
	position:absolute;
	top:0px;
	right:10px
}
#Solidar_B{
	border-top:none;
	border-left:none;
	border-bottom:none;
	border-radius:0px;
}
#Solidar_BS{
	border:none;
	
}
#Co_B{
	border-top:none;
	border-left:none;
	border-bottom:none;
	border-radius:0px;
}
#Co_BS{
	border:none;
	
}
#searchIcon{
	text-indent: -1000em;
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(http://p.yusukekamiyamane.com/icons/search/fugue/icons/magnifier.png);
    background-repeat: no-repeat;
    position: absolute;
    right: 3px;
    top: -12px;
    border-left:1px solid #AAA;

}
.personsType{
	border:1px solid #AAA;
	border-radius:3px;
}
